@import "../../global.css";
@import "../../global-componant.css";

.search-container{
    margin: 20px auto;
    background: #F9F9F9;
    padding: 10px 25px !important;
    position: relative;
    border-radius: 30px;
    .filter_para {
        font-family: Isidora Sans medium;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #30426D;
        cursor: pointer;
    }
    .search_total_div {
        float: right;
        .total_item {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: right;
            color: #30426D;
            margin-right: 20px;
          }
    }
    .filter_content {position: absolute;
        top: 49px;
        background: #FFFFFF;
        border: 0.5px solid #4D4D4D;
        border-radius: 8px;
        width: 100%;
        z-index: 99;
        padding: 10px 30px;
          padding-top: 10px;
        left: 0px;
        h3 {
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            color: #30426D;
        }
        .cross {
            background: #e2e5ec;
            border-radius: 0px 5px 0px 0px;
            width: 39px;
            height: 39px;
            display: inline-block;
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 11px;
            text-align: center;
            padding: 7px;
        }
        .form-control {
            background: #F9F9F9;
            border: 0.5px solid #4D4D4D;
            box-sizing: border-box;
            border-radius: 5px;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            display: flex;
            align-items: center;
            color: #4D4D4D;
            padding-left: 45px;
            height: 50px;
        }
        .search_content{
            .search_result {
                float: right;
                padding-top: 18px;
            }
            .search-overflow {
                max-height: 300px;
                overflow-y: scroll;
            }
            .search_result_content {
                border-bottom: 1px solid #CACACA;
                padding: 0px 0px 20px 0px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
            }
            .search_img {
                width: 130px;
                height: 87px;
                border-radius: 10px;
                overflow: hidden;
                display: inline-flex;
            }
            .search_right_detail {
                padding-left: 20px;
                display: inline-flex;
                width: calc(100% - 130px);
            }
            .form-group {
                width: 80%;
                position: relative;
                .form-control {
                    background: #F9F9F9;
                    border: 0.5px solid #4D4D4D !important;
                    box-sizing: border-box;
                    border-radius: 5px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    display: flex;
                    align-items: center;
                    color: #4D4D4D;
                    padding-left: 45px;
                    height: 50px;
                }
                img {
                    position: absolute;
                    left: 11px;
                    top: 13px;
                    z-index: 999;
                }
            }
            
        }
    }
    
    // input[type="text"]
    // {
    //     border:none !important;
    //     background: var(--search-bg);
    //     position: relative;
    //     padding-left: 60px;
    // }
    
    // .searchbarS{
    //     svg{
    //         position: absolute;
    //         top: 15px;
    //         left: 25px;
    //     }
    // }
    // input[type="text"]::placeholder {
    //     color: #4D4D4D !important;
    //     font-size: 16px !important;
    //     margin-left: 45px !important;
    // }
}